* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 10px 0;
}

.card {
  width: 400px;
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  color: black;
  transition: all 0.2s ease;
}

.card:hover {
  background-color: rgba(211, 211, 211, 0.336);
}

.card__image {
  border-radius: 100%;
  height: 60px;
  object-fit: cover;
}

.card__description {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile__container {
  max-width: 1200px;
  margin: 0 auto;
}

.header-wrapper {
  border: 1px solid #cccccc;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.header img {
  height: 200px;
}

.left {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-info {
  margin-left: 20px;
  width: 100%;
  padding: 10px;
}

.right-info {
  padding: 10px;
}

.left-info span,
.right-info span {
  text-decoration: underline;
}

.breadcrumbs {
  padding: 20px;
}

@media only screen and (max-width: 990px) {
  .header {
    flex-direction: column;
    align-items: unset;
  }

  .left-info {
    margin-left: 0;
    width: auto;
  }
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.list-item {
  width: 25%;
}

.list-item-content {
  margin: 10px;
  border: 1px solid #cccccc;
  cursor: pointer;
}

.list-item img {
  width: 100%;
}

.list-item-content-description {
  padding: 2px 10px;
}

@media only screen and (max-width: 990px) {
  .list-item {
    width: 50%;
  }
}
