.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  width: 400px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  cursor: pointer;
  color: black;
}

.card__image {
  border-radius: 100%;
  height: 60px;
  object-fit: cover;
}

.card__description {
  font-family: sans-serif;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
